<!DOCTYPE web-app PUBLIC
		 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
		 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>ArchetypeCreatedWebApplication</display-name>
	<!--student -->
	<!--office -->
	<filter>
		<filter-name>Session</filter-name>
		<display-name>Session</display-name>
		<description>check session presence</description>
		<filter-class>actions.authentication.Session</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Session</filter-name>
		<url-pattern>/student/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Session</filter-name>
		<url-pattern>/office/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Session</filter-name>
		<url-pattern>/administration/*</url-pattern>
	</filter-mapping>
	
	<!--onlineTest -->
	<servlet>
		<servlet-name>CreateTestPaper</servlet-name>
		<display-name>CreateTestPaper</display-name>
		<description></description>
		<servlet-class>actions.testPaper.CreateTestPaper</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateTestPaper</servlet-name>
		<url-pattern>/CreateTestPaper</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetQuestion</servlet-name>
		<display-name>GetQuestion</display-name>
		<description></description>
		<servlet-class>actions.testPaper.GetQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestion</servlet-name>
		<url-pattern>/GetQuestion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CreateAnswerSheet</servlet-name>
		<display-name>CreateAnswerSheet</display-name>
		<description></description>
		<servlet-class>actions.testPaper.CreateAnswerSheet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAnswerSheet</servlet-name>
		<url-pattern>/CreateAnswerSheet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetSolutionSheet</servlet-name>
		<display-name>GetSolutionSheet</display-name>
		<description></description>
		<servlet-class>actions.testPaper.GetSolutionSheet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSolutionSheet</servlet-name>
		<url-pattern>/GetSolutionSheet</url-pattern>
	</servlet-mapping>
	<!--timetable -->
	<!--gradingModule -->
	<servlet>
		<servlet-name>RetrieveSubjects</servlet-name>
		<display-name>RetrieveSubjects</display-name>
		<description></description>
		<servlet-class>actions.gradingModule.RetrieveSubjects</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrieveSubjects</servlet-name>
		<url-pattern>/RetrieveSubjects</url-pattern>
	</servlet-mapping>
	<!--registration -->
	<servlet>
		<servlet-name>RegistrationLogin</servlet-name>
		<display-name>RegistrationLogin</display-name>
		<description></description>
		<servlet-class>actions.registration.RegistrationLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationLogin</servlet-name>
		<url-pattern>/RegistrationLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportStudent</servlet-name>
		<display-name>ReportStudent</display-name>
		<description></description>
		<servlet-class>actions.registration.ReportStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportStudent</servlet-name>
		<url-pattern>/ReportStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerifyStudent</servlet-name>
		<display-name>VerifyStudent</display-name>
		<description></description>
		<servlet-class>actions.registration.VerifyStudent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyStudent</servlet-name>
		<url-pattern>/VerifyStudent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StudentServletTemplate</servlet-name>
		<display-name>StudentServletTemplate</display-name>
		<description></description>
		<servlet-class>actions.registration.StudentServletTemplate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentServletTemplate</servlet-name>
		<url-pattern>/StudentServletTemplate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateStudentRegistrationData</servlet-name>
		<display-name>UpdateStudentRegistrationData</display-name>
		<description></description>
		<servlet-class>actions.registration.UpdateStudentRegistrationData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStudentRegistrationData</servlet-name>
		<url-pattern>/UpdateStudentRegistrationData</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>addUpdateStudentRegistrationDetails</servlet-name>
		<display-name>addUpdateStudentRegistrationDetails</display-name>
		<description></description>
		<servlet-class>actions.registration.addUpdateStudentRegistrationDetails</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>addUpdateStudentRegistrationDetails</servlet-name>
		<url-pattern>/addUpdateStudentRegistrationDetails</url-pattern>
	</servlet-mapping>
	
	<!--notification -->
	<servlet>
		<servlet-name>MarkAsRead</servlet-name>
		<display-name>MarkAsRead</display-name>
		<description></description>
		<servlet-class>actions.notifications.MarkAsRead</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MarkAsRead</servlet-name>
		<url-pattern>/MarkAsRead</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RetriveNotifications</servlet-name>
		<display-name>RetriveNotifications</display-name>
		<description></description>
		<servlet-class>actions.notifications.RetriveNotifications</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetriveNotifications</servlet-name>
		<url-pattern>/RetriveNotifications</url-pattern>
	</servlet-mapping>
	<!--attendance -->
	<servlet>
		<servlet-name>AjaxController</servlet-name>
		<display-name>AjaxController</display-name>
		<description></description>
		<servlet-class>actions.attendance.AjaxController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AjaxController</servlet-name>
		<url-pattern>/AjaxController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetSubjectAllocation</servlet-name>
		<display-name>GetSubjectAllocation</display-name>
		<description></description>
		<servlet-class>actions.attendance.GetSubjectAllocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSubjectAllocation</servlet-name>
		<url-pattern>/GetSubjectAllocation</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InsertAttendance</servlet-name>
		<display-name>InsertAttendance</display-name>
		<description></description>
		<servlet-class>actions.attendance.InsertAttendance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertAttendance</servlet-name>
		<url-pattern>/InsertAttendance</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>StudentsList</servlet-name>
		<display-name>StudentsList</display-name>
		<description></description>
		<servlet-class>actions.attendance.StudentsList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentsList</servlet-name>
		<url-pattern>/StudentsList</url-pattern>
	</servlet-mapping>

	<!--authentication -->
	<servlet>
		<servlet-name>SignIn</servlet-name>
		<servlet-class>actions.authentication.SignIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyFeePayment</servlet-name>
		<display-name>VerifyFeePayment</display-name>
		<description></description>
		<servlet-class>actions.feePayment.VerifyFeePayment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadMultipleFiles</servlet-name>
		<display-name>UploadMultipleFiles</display-name>
		<description></description>
		<servlet-class>actions.files.UploadMultipleFiles</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<display-name>FileUpload</display-name>
		<description></description>
		<servlet-class>actions.files.FileUpload</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>S1</servlet-name>
		<display-name>S1</display-name>
		<description></description>
		<servlet-class>actions.attendance.S1</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GenerateStudentId</servlet-name>
		<display-name>GenerateStudentId</display-name>
		<description></description>
		<servlet-class>actions.registration.GenerateStudentId</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/FileUpload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SignIn</servlet-name>
		<url-pattern>/SignIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignOut</servlet-name>
		<servlet-class>actions.authentication.SignOut</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignOut</servlet-name>
		<url-pattern>/SignOut</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateLastSeen</servlet-name>
		<display-name>UpdateLastSeen</display-name>
		<description></description>
		<servlet-class>actions.authentication.UpdateLastSeen</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLastSeen</servlet-name>
		<url-pattern>/UpdateLastSeen</url-pattern>
	</servlet-mapping>
<servlet>
		<servlet-name>AutoSuggest</servlet-name>
		<display-name>AutoSuggest</display-name>
		<description></description>
		<servlet-class>actions.authentication.AutoSuggest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoSuggest</servlet-name>
		<url-pattern>/AutoSuggest</url-pattern>
	</servlet-mapping>
	<!--chats -->
	<servlet>
		<servlet-name>RetrieveMessage</servlet-name>
		<display-name>RetrieveMessage</display-name>
		<description></description>
		<servlet-class>actions.chats.RetrieveMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrieveMessage</servlet-name>
		<url-pattern>/RetrieveMessage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RetrieveConversationsInfo</servlet-name>
		<display-name>RetrieveConversationsInfo</display-name>
		<description></description>
		<servlet-class>actions.chats.RetrieveConversationsInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrieveConversationsInfo</servlet-name>
		<url-pattern>/RetrieveConversationsInfo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>NewMessage</servlet-name>
		<display-name>NewMessage</display-name>
		<description></description>
		<servlet-class>actions.chats.NewMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewMessage</servlet-name>
		<url-pattern>/NewMessage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RetrieveAllMessages</servlet-name>
		<display-name>RetrieveAllMessages</display-name>
		<description></description>
		<servlet-class>actions.chats.RetrieveAllMessages</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RetrieveAllMessages</servlet-name>
		<url-pattern>/RetrieveAllMessages</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReadAllMessages</servlet-name>
		<display-name>ReadAllMessages</display-name>
		<description></description>
		<servlet-class>actions.chats.ReadAllMessages</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReadAllMessages</servlet-name>
		<url-pattern>/ReadAllMessages</url-pattern>
	</servlet-mapping>
	<!--feePayment -->
	<servlet>
		<servlet-name>AddPaymentInfo</servlet-name>
		<display-name>AddPaymentInfo</display-name>
		<description></description>
		<servlet-class>actions.feePayment.AddPaymentInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPaymentInfo</servlet-name>
		<url-pattern>/AddPaymentInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeeBreakup</servlet-name>
		<display-name>

Breakup</display-name>
		<description></description>
		<servlet-class>actions.feePayment.FeeBreakup</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeeBreakup</servlet-name>
		<url-pattern>/FeeBreakup</url-pattern>
	</servlet-mapping>

	<!--grading module-->
 <servlet>
  	<servlet-name>ExportGradesheet</servlet-name>
  	<display-name>ExportGradesheet</display-name>
  	<description></description>
  	<servlet-class>actions.gradingModule.ExportGradesheet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ExportGradesheet</servlet-name>
  	<url-pattern>/ExportGradesheet</url-pattern>
  </servlet-mapping>
	<!--remaining -->
	<servlet>
		<servlet-name>GenerateChallan</servlet-name>
		<display-name>GenerateChallan</display-name>
		<description></description>
		<servlet-class>feePayment.GenerateChallan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateChallan</servlet-name>
		<url-pattern>/GenerateChallan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>actions.registration.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CsabStudentProfile</servlet-name>
		<display-name>CsabStudentProfile</display-name>
		<description></description>
		<servlet-class>actions.registration.CsabStudentProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResetPassword</servlet-name>
		<display-name>ResetPassword</display-name>
		<description></description>
		<servlet-class>actions.authentication.ResetPassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddLdapUser</servlet-name>
		<display-name>AddLdapUser</display-name>
		<description></description>
		<servlet-class>actions.registration.AddLdapUser</servlet-class>
	</servlet>
	
<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>VerifyFeePayment</servlet-name>
		<url-pattern>/VerifyFeePayment</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadMultipleFiles</servlet-name>
		<url-pattern>/UploadMultipleFiles</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GenerateStudentId</servlet-name>
		<url-pattern>/GenerateStudentId</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CsabStudentProfile</servlet-name>
		<url-pattern>/CsabStudentProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetPassword</servlet-name>
		<url-pattern>/ResetPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddLdapUser</servlet-name>
		<url-pattern>/AddLdapUser</url-pattern>
	</servlet-mapping>
	

	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>

	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<exception-type>exceptions.SessionException</exception-type>
		<location>/SessionExpired.jsp</location>
	</error-page>
</web-app>